In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [34]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

### 使用套件進行one hot encode

In [5]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()

encode = le.fit_transform(sub_train['WEEKDAY_APPR_PROCESS_START'])
encode = pd.Series(encode, name='WEEKDAY_APPR_PROCESS_START')
encode = pd.get_dummies(encode)

encode.head()

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  1
1  0  1  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  0  0  0  0  1
4  0  0  0  0  1  0  0

### 自行定義方法完成one hot encode

In [41]:
dic = dict(enumerate(sub_train.WEEKDAY_APPR_PROCESS_START.unique()))
revert_dic = dict([[value, key] for key, value in dic.items()])
print(dic)
print(revert_dic)

{0: 'WEDNESDAY', 1: 'MONDAY', 2: 'THURSDAY', 3: 'SUNDAY', 4: 'SATURDAY', 5: 'FRIDAY', 6: 'TUESDAY'}
{'WEDNESDAY': 0, 'MONDAY': 1, 'THURSDAY': 2, 'SUNDAY': 3, 'SATURDAY': 4, 'FRIDAY': 5, 'TUESDAY': 6}

In [54]:
encode = sub_train.WEEKDAY_APPR_PROCESS_START.map(revert_dic)
encode = pd.get_dummies(encode)

encode.head()

   0  1  2  3  4  5  6
0  1  0  0  0  0  0  0
1  0  1  0  0  0  0  0
2  0  1  0  0  0  0  0
3  1  0  0  0  0  0  0
4  0  0  1  0  0  0  0

In [51]:
encode = encode.rename(dict([[key, 'WEEKDAY_APPR_PROCESS_START_'+value] for key, value in  dic.items()]), axis=1)

In [53]:
encode.nunique()

WEEKDAY_APPR_PROCESS_START_WEDNESDAY    2
WEEKDAY_APPR_PROCESS_START_MONDAY       2
WEEKDAY_APPR_PROCESS_START_THURSDAY     2
WEEKDAY_APPR_PROCESS_START_SUNDAY       2
WEEKDAY_APPR_PROCESS_START_SATURDAY     2
WEEKDAY_APPR_PROCESS_START_FRIDAY       2
WEEKDAY_APPR_PROCESS_START_TUESDAY      2
dtype: int64